<div class="p-5 bg-white border border-gray-400 rounded">
  <%= form_with(model: lesson, local: true, class: "lesson-form") do |form| %>
    <% if lesson.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>
  
        <ul>
          <% lesson.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <h3 class="mb-3">
      Lesson Information
    </h3>
    
    <div class="mb-6">
      <label class="label" for="lesson_start_time">Start time</label>
      <div class="flex items-center justify-start my-2 max-w-md">
        <select id="lesson_start_time_1i" name="lesson[start_time(1i)]" class="select py-2 px-2 mr-2 w-20">
          <option value="2020" selected="selected">2020</option>
          <option value="2021">2021</option>
          <option value="2022">2022</option>
          <option value="2023">2023</option>
          <option value="2024">2024</option>
          <option value="2025">2025</option>
        </select>
        <select id="lesson_start_time_2i" name="lesson[start_time(2i)]" class="select py-2 px-2 mr-2 w-20">
          <option value="1">January</option>
          <option value="2">February</option>
          <option value="3">March</option>
          <option value="4">April</option>
          <option value="5">May</option>
          <option value="6">June</option>
          <option value="7">July</option>
          <option value="8" selected="selected">August</option>
          <option value="9">September</option>
          <option value="10">October</option>
          <option value="11">November</option>
          <option value="12">December</option>
        </select>
        <select id="lesson_start_time_3i" name="lesson[start_time(3i)]" class="select py-2 px-2 mr-2 w-20">
          <option value="1"selected="selected">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
          <option value="24">24</option>
          <option value="25">25</option>
          <option value="26">26</option>
          <option value="27">27</option>
          <option value="28">28</option>
          <option value="29">29</option>
          <option value="30">30</option>
          <option value="31">31</option>
        </select>
      </div>
    <div class="flex items-center justify-start my-2 max-w-md w-auto">
      <select id="lesson_start_time_4i" name="lesson[start_time(4i)]" class="select py-2 px-2 ml-0 mr-2 w-20">
        <option value="00" selected="selected">00</option>
        <option value="01">01</option>
        <option value="02">02</option>
        <option value="03">03</option>
        <option value="04">04</option>
        <option value="05">05</option>
        <option value="06">06</option>
        <option value="07">07</option>
        <option value="08">08</option>
        <option value="09">09</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
      </select>
      : 
      <select id="lesson_start_time_5i" name="lesson[start_time(5i)]" class="select py-2 px-2 ml-2 w-20">
        <option value="00">00</option>
        <option value="05">05</option>
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="20">20</option>
        <option value="25">25</option>
        <option value="30">30</option>
        <option value="35">35</option>
        <option value="40">40</option>
        <option value="45">45</option>
        <option value="50">50</option>
        <option value="55">55</option>
      </select>
    </div>
      </div>
      <div class="mb-3">
      <%= form.label :duration, class: "label" %>
      <div class="flex items-center justify-between max-w-md">
        <%= form.number_field :duration, in: 10..60, step: 10, value: 30, class: "select py-2 px-2 mr-2" %>
      </div>
    </div>
    </div>
    
    <hr class="border" />
    
    <%= render 'payment_form' %>
    
    <%= form.submit class: "btn btn-indigo text-base py-2 px-5 mb-5" %>

  <% end %>
</div>
